<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	{{#empList}}
	<div>
		<span>{{employeeId}}</span>
		<span>{{firstName}}</span>
	</div>
	{{/empList}}
</body>
</html>